@tailwind base;
@tailwind components;
@tailwind utilities;

.nhrrob-popular-ranking {
    width: 80%;
    margin: auto;
}
.nhrrob-popular-ranking .align-center {
    text-align: center;
}

.nhrrob-popular-ranking .align-left {
    text-align: left;
}

.nhrrob-popular-ranking .align-right {
    text-align: right;
}

.nhrrob-popular-ranking .nhrrob-popular-ranking-old {
    padding-top: 100px;
}

.nhrrob-popular-ranking .updated-at {
    float: right;
}

.nhrrob-popular-ranking .d-none {
    display: none;
}